.nav_bar{
    font-size: 12px;
    text-align: right;
}
.nav_link{
    padding: 0.5rem;
    text-decoration: none;
}

.nav_link:hover{
    background-color: red;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown_content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 6.94em;
    z-index: 1;
}
  
.dropdown:hover .dropdown_content {
    display: block;
}

