.gamecard_div{
    width: 20%;
    height: 30vh;
    margin: 1rem 1rem 1rem 1rem;
    border: solid black;
}

.img_div{
    height: 70%;
}

.game_description{
    height: 30%;
    text-align: center;
}

.game_image{
    width: 100%;
    height: 100%;
}