.parent{
    height: 75rem;
    display: flex;
    flex-direction: row;
}

.firstChild{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondChild{
    width: 80%;
}

.genre_header{
    padding-left: 1rem;
}

.genre_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.GamesLoading{
    text-align: center;
}

.GamesError{
    text-align: center;
    color: red;
}