.main_content{
    display: flex;
    flex-direction: column;
}

.top_section{
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 20%;
    text-align: center;
    font-size: 3rem;
}

.search_container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.search_bar{
    width: 40%;
}

.search_button{
    width: 3%;
    text-align: center;
    padding-top: 0.8rem;
    padding-left: 0.5rem;
}

.msg_icons{
    width: 57%;
    display: flex;
    flex-direction: row;
}

.welcomeMsg{
    width: 70%;
    text-align: center;
}

.shoppingIcons{
    width: 30%;
    text-align: center;
}


/* =========================== END OF TOP SECTION =========================================*/

.middle_section{
    height: 60rem;
    display: flex;
    flex-direction: row;
    
}

.middle_firstchild{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidelist{
    width: 80%;
}

.first_sub_list{
    list-style: none;
    font-size: 1.5rem;
    border-radius: 15px 15px 0 0;
    width: 75%;
}

.first_sub_list:hover{
    background-color: grey;
    
}

.sub_list{
    list-style: none;
    font-size: 1.5rem;
    width: 75%;
    
}

.sub_list:hover{
    background-color: grey;
}

.last_sub_list{
    list-style: none;
    font-size: 1.5rem;
    border-radius: 0 0 15px 15px;
    width: 75%;
}

.last_sub_list:hover{
    background-color: grey;
}

.middle_secondchild{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.tab_div{
    width: 100%;
}


/* =========================== END OF MIDDLE SECTION =========================================*/

.bottom_section{

    height: 15rem;
    display: flex;
    flex-direction: row;
}

.bottom_firstchild{
    width: 33.3%;
}

.bottom_secondchild{

    width: 33.3%;
}

.bottom_thirdchild{

    width: 33.3%;
}

.product_image{
    padding: 0.5rem;
    height: 14rem;
    width: 97%;
}
